<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Advanced Statistics</title>
        <link rel="stylesheet" href="../static/main_page.css">
        <link href="https://fonts.cdnfonts.com/css/ninja-naruto" rel="stylesheet">
        <style>
            @import url('https://fonts.cdnfonts.com/css/ninja-naruto');

            #chart {
                background-color: #4a4848;
                width: 70%;
                height: 200px;
                margin: auto;
            }

            body {
                margin: 0;
                padding: 20px;
                background-color: #f0f0f0;
                border-Color: rgba(255, 255, 255);
                border-color: rgba(255, 99, 132, 0.7), ;
            }
        </style>
        <link type="image/x-icon" rel="icon" href="../static/images/favicon.ico">
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    </head>

    <body id="advstatbg">
        {% include 'nav.html' %}
        <!-- <h1 style="margin-top: 6%; margin-bottom: 3%;">Advanced Statistics</h1> -->
        <header class="adv-header" data-color="{{ color }}">
            <h3>📊 Advanced Statistics</h3>
            <p>In-depth player performance and rival analysis</p>
        </header>
        <main id="asmain">
            <form method="GET" action="/playerStat/{{ player.id }}" class="filter-form">
                <select name="season" onchange="this.form.submit()">
                    <option value="all" {% if selected_season=='all' %}selected{% endif %}>All Time</option>
                    <option value="1" {% if selected_season=='1' %}selected{% endif %}>Season 1</option>
                    <option value="2" {% if selected_season=='2' %}selected{% endif %}>Season 2</option>
                </select>
            </form>
            <div>
                <canvas id="chart"></canvas>
                <div id="myDiv" data-values='{{ rank | tojson | safe }}'></div>
                <div id="myHist" data-values='{{ history | tojson | safe }}'></div>
                <div id="myColor" data-color="{{ color }}"></div>
            </div>
            <div>
                <canvas id="positionChart"></canvas>
                <div id="positionWeeks" data-values='{{ position_weeks | tojson | safe }}'></div>
                <div id="positionRanks" data-values='{{ position_ranks | tojson | safe }}'></div>
            </div>
            <div id="aspiecont">
                <div id="ascard">
                    <div class="card-header">
                        <img class="team-logo" src="{{ player.logo }}">
                        <span class="card-rank">#{{ player.rank }}</span>
                    </div>
                    <img id="asimg" src="{{ player.img }}">
                    <a href="../player/{{player.id}}">
                        <h2 class="card-name">{{ player.name }}</h2>
                    </a>
                    <p class="card-team">{{ player.team }}</p>

                    <div class="card-stats">
                        <div class="season-record-breakdown">
                            <h3>Season Records</h3>

                            {% for rec in season_records %}
                            <div>
                                <strong>Season {{ rec.season }}:</strong>
                                {{ rec.wins }} - {{ rec.losses }}
                            </div>
                            {% endfor %}
                            <div><strong>Points:</strong> {{ player.tour_points }}</div>
                        </div>
                    </div>

                    <div class="card-medals">
                        🥇 {{ player.gold }} | 🥈 {{ player.silver }} | 🥉 {{ player.bronze }}
                    </div>

                    <div class="card-badges">
                        🎖️ Medal: {{ player.medal }} | 🏅 Badge: {{ player.badge }}
                    </div>
                </div>

                <div style="width: 500px; height: 420px;">
                    <canvas id="pieChart"></canvas>
                    <div id="myPie" data-values='{{ wins | tojson | safe }}'></div>
                </div>
                <div id="asmini">
                    <div class="asminicard">
                        <img src="{{beaten_team.logo}}">
                        <div>Most Beaten Team {{wins_vs_beaten_team}} - {{losses_vs_beaten_team}}</div>
                    </div>
                    <div class="asminicard">
                        <img src="{{lost_team.logo}}">
                        <div>Most losses against Team {{wins_vs_lost_team}} - {{losses_vs_lost_team}}</div>
                    </div>
                    <div class="asrival">
                        <img src="{{biggest_rival.img}}">
                        <a href="../player/{{biggest_rival.id}}">
                            <p>{{biggest_rival.name}} ({{biggest_rival.team}})</p>
                        </a>
                        </p>
                        <p>BIGGEST RIVAL</p>
                        <p>{{biggest_rival_info.wins}} - {{biggest_rival_info.losses}}</p>
                    </div>
                </div>
            </div>
            <div id="asbottom">
                <!-- Biggest Win Card -->
                <div class="result-card win-result">
                    <a href="{{biggest_win.opponent_id}}">
                        <div class="result-header">
                            <img class="result-logo" src="{{ biggest_win.logo }}" alt="Logo">
                            <span class="result-rank">#{{biggest_win.rank}}</span>
                        </div>
                        <img class="result-img" src="{{ biggest_win.image }}" alt="Opponent Image">
                        <h3 class="result-name">{{ biggest_win.name }}</h3>
                        <div class="result-info">
                            <p><strong>{{ biggest_win.tour_name }}</strong></p>
                            <p>{{ biggest_win.round }}</p>
                            <p><strong>Score:</strong> {{ biggest_win.score }}</p>
                        </div>
                        <div class="result-label">BIGGEST WIN</div>
                    </a>
                </div>

                <!-- Biggest Loss Card -->
                <div class="result-card loss-result">
                    <a href="{{biggest_loss.opponent_id}}">
                        <div class="result-header">
                            <img class="result-logo" src="{{ biggest_loss.logo }}" alt="Logo">
                            <span class="result-rank">#{{biggest_loss.rank}}</span>
                        </div>
                        <img class="result-img" src="{{ biggest_loss.image }}" alt="Opponent Image">
                        <h3 class="result-name">{{ biggest_loss.name }}</h3>
                        <div class="result-info">
                            <p><strong>{{ biggest_loss.tour_name }}</strong></p>
                            <p>{{ biggest_loss.round }}</p>
                            <p><strong>Score:</strong> {{ biggest_loss.score }}</p>
                        </div>
                        <div class="result-label">BIGGEST LOSS</div>
                    </a>
                </div>

                <!-- Biggest upset Win Card -->
                <div class="result-card win-result">
                    <a href="{{biggest_upset_win_info.opponent_id}}">
                        <div class="result-header">
                            <img class="result-logo" src="{{ biggest_upset_win_info.logo }}" alt="Logo">
                            <span class="result-rank">#{{biggest_upset_win_info.rank}}</span>
                        </div>
                        <img class="result-img" src="{{ biggest_upset_win_info.image }}" alt="Opponent Image">
                        <h3 class="result-name">{{ biggest_upset_win_info.name }}</h3>
                        <div class="result-info">
                            <p><strong>{{ biggest_upset_win_info.tour_name }}</strong></p>
                            <p>{{ biggest_upset_win_info.round }}</p>
                            <p><strong>Score:</strong> {{ biggest_upset_win_info.score }}</p>
                        </div>
                        <div class="result-label">BIGGEST UPSET WIN</div>
                    </a>
                </div>
                <!-- Biggest upset Loss Card -->
                <div class="result-card loss-result">
                    <a href="{{biggest_upset_loss_info.opponent_id}}">
                        <div class="result-header">
                            <img class="result-logo" src="{{ biggest_upset_loss_info.logo }}" alt="Logo">
                            <span class="result-rank">#{{biggest_upset_loss_info.rank}}</span>
                        </div>
                        <img class="result-img" src="{{ biggest_upset_loss_info.image }}" alt="Opponent Image">
                        <h3 class="result-name">{{ biggest_upset_loss_info.name }}</h3>
                        <div class="result-info">
                            <p><strong>{{ biggest_upset_loss_info.tour_name }}</strong></p>
                            <p>{{ biggest_upset_loss_info.round }}</p>
                            <p><strong>Score:</strong> {{ biggest_upset_loss_info.score }}</p>
                        </div>
                        <div class="result-label">BIGGEST UPSET LOSS</div>
                    </a>
                </div>

            </div>
            <div id="asdatas">
                <div style="width: 275px; height: 300px;">
                    <canvas id="pielossChart"></canvas>
                    <div id="mylossPie" data-values='{{ losses | tojson | safe }}'></div>
                </div>
                <div style="width: 500px; height: 350px;">
                    <canvas id="barChart"></canvas>
                    <div id="barChartData" data-points='{{ rank_points | tojson | safe }}'
                        data-labels='{{ history | tojson | safe }}'>
                    </div>
                </div>
                <div style="width: 275px; height: 300px;">
                    <canvas id="piebattleChart"></canvas>
                    <div id="mybattlePie" data-values='{{ battle | tojson | safe }}'></div>
                </div>

            </div>


        </main>










        <script>

            const rawPie = $('#myPie').attr('data-values'); // returns a string
            const parsedPie = JSON.parse(rawPie); // safely parsed as array
            console.log(parsedPie); // [1, 2, 3]
            Chart.register(ChartDataLabels);
            const pieData = {
                labels: ['Pins', 'Tech Falls', 'Major Decisions', 'Decisions'],
                datasets: [{
                    label: 'Win Types',
                    data: parsedPie,
                    backgroundColor: [
                        'rgba(54, 162, 235, 0.9)',
                        'rgba(75, 192, 192, 0.9)',
                        'rgba(255, 206, 86, 0.9)',
                        'rgba(255, 99, 132, 0.9)',
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(255, 99, 132, 1)',
                    ],
                    borderWidth: 1
                }]
            };

            const pieConfig = {
                type: 'pie',
                data: pieData,
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                        legend: {
                            labels: {
                                color: 'white'
                            }
                        },
                        datalabels: {
                            color: 'white',
                            font: {
                                weight: 'bold'
                            },
                            formatter: (value, context) => {
                                const data = context.chart.data.datasets[0].data;
                                const total = data.reduce((a, b) => a + b, 0);
                                const percentage = (value / total * 100).toFixed(1);
                                return percentage + '%';
                            }
                        }
                    }
                },
                plugins: [ChartDataLabels] // 👈 THIS is what makes only this chart use data labels
            };



            const pieCtx = document.getElementById('pieChart').getContext('2d');
            new Chart(pieCtx, pieConfig);



            // PIE CHART FOR LOSSES ////////////////
            const rawlossPie = $('#mylossPie').attr('data-values'); // returns a string
            const parsedlossPie = JSON.parse(rawlossPie); // safely parsed as array
            console.log(parsedlossPie); // [1, 2, 3]
            Chart.register(ChartDataLabels);
            const pielossData = {
                labels: ['Pins', 'Tech Falls', 'Major Decisions', 'Decisions'],
                datasets: [{
                    label: 'Loss Types',
                    data: parsedlossPie,
                    backgroundColor: [
                        'rgba(54, 162, 235, 0.9)',
                        'rgba(75, 192, 192, 0.9)',
                        'rgba(255, 206, 86, 0.9)',
                        'rgba(255, 99, 132, 0.9)',
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(255, 99, 132, 1)',
                    ],
                    borderWidth: 1
                }]
            };

            const pielossConfig = {
                type: 'pie',
                data: pielossData,
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                        legend: {
                            labels: {
                                color: 'white'
                            }
                        },
                        datalabels: {
                            color: 'white',
                            font: {
                                weight: 'bold'
                            },
                            formatter: (value, context) => {
                                const data = context.chart.data.datasets[0].data;
                                const total = data.reduce((a, b) => a + b, 0);
                                const percentage = (value / total * 100).toFixed(1);
                                return percentage + '%';
                            }
                        }
                    }
                },
                plugins: [ChartDataLabels] // 👈 THIS is what makes only this chart use data labels
            };



            const pielossCtx = document.getElementById('pielossChart').getContext('2d');
            new Chart(pielossCtx, pielossConfig);



            //////////////////////////// PIE CHART FOR BATTLE TYPES ////////////////
            const rawbattlePie = $('#mybattlePie').attr('data-values'); // returns a string
            const parsedbattlePie = JSON.parse(rawbattlePie); // safely parsed as array
            console.log(parsedbattlePie); // [1, 2, 3]
            Chart.register(ChartDataLabels);
            const piebattleData = {
                labels: ['Finals', 'Medal Rounds', 'Champion', 'Consolation'],
                datasets: [{
                    label: 'Battle Types',
                    data: parsedbattlePie,
                    backgroundColor: [
                        'rgba(165, 9, 196, 0.9)',
                        'rgba(197, 0, 0, 0.9)',
                        'rgba(206, 158, 0, 0.9)',
                        'rgba(132, 91, 1, 0.9)',
                    ],
                    borderColor: [
                        'rgba(165, 9, 196, 0.9)',
                        'rgba(197, 0, 0, 0.9)',
                        'rgba(206, 158, 0, 0.9)',
                        'rgba(132, 91, 1, 0.9)',
                    ],
                    borderWidth: 1
                }]
            };

            const piebattleConfig = {
                type: 'pie',
                data: piebattleData,
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                        legend: {
                            labels: {
                                color: 'white'
                            }
                        },
                        datalabels: {
                            color: 'white',
                            font: {
                                weight: 'bold'
                            },
                            formatter: (value, context) => {
                                const data = context.chart.data.datasets[0].data;
                                const total = data.reduce((a, b) => a + b, 0);
                                const percentage = (value / total * 100).toFixed(1);
                                return percentage + '%';
                            }
                        }
                    }
                },
                plugins: [ChartDataLabels] // 👈 THIS is what makes only this chart use data labels
            };



            const piebattleCtx = document.getElementById('piebattleChart').getContext('2d');
            new Chart(piebattleCtx, piebattleConfig);
            ////////////////////////////////////// BAR GRAPAH //////////////////////
            const rawPoints = $('#barChartData').attr('data-points');
            const rawLabels = $('#barChartData').attr('data-labels');
            const dynamicColor = $('#myColor').attr('data-color');

            const parsedPoints = JSON.parse(rawPoints);
            const parsedLabels = JSON.parse(rawLabels);
            const barColor = dynamicColor || 'rgba(255, 255, 255, 0.8)';

            const barData = {
                labels: parsedLabels,
                datasets: [{
                    label: 'Points Over Time',
                    data: parsedPoints,
                    backgroundColor: barColor,
                    borderColor: 'rgba(255, 255, 255, 0.9)',
                    borderWidth: 1
                }]
            };

            const barConfig = {
                type: 'bar',
                data: barData,
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        x: {
                            ticks: { color: 'white' },
                            grid: { color: 'rgba(255,255,255,0.1)' }
                        },
                        y: {
                            beginAtZero: true,
                            ticks: { color: 'white' },
                            grid: { color: 'rgba(255,255,255,0.1)' }
                        }
                    },
                    plugins: {
                        legend: {
                            labels: { color: 'white' }
                        },
                        tooltip: {
                            backgroundColor: '#333',
                            titleColor: '#fff',
                            bodyColor: '#ddd'
                        }
                    },
                    layout: {
                        padding: 10
                    }
                }
            };

            const barCtx = document.getElementById('barChart').getContext('2d');
            barCtx.canvas.parentNode.style.backgroundColor = '#1e1e1e'; // dark background
            new Chart(barCtx, barConfig);



            /////////////////   LINE CHART /////////////////////////////////////////////
            var gameChart;
            const raw = $('#myDiv').attr('data-values'); // returns a string
            const parsed = JSON.parse(raw); // safely parsed as array
            const rawHist = $('#myHist').attr('data-values'); // returns a string
            const parsedHist = JSON.parse(rawHist); // safely parsed as array
            parsedHist.push('Current')
            const color = document.getElementById("myColor").getAttribute("data-color");
            $('#ascard').css({ backgroundColor: color })

            function renderChart() {
                var tournaments = parsedHist;
                var rank = parsed;

                var dataset1 = {
                    label: "Rank",
                    data: rank,
                    borderColor: color,
                    // borderColor: 'rgba(255, 99, 132, 1)', // Line color
                    fill: false,
                    tension: 0.1
                };
                var chartData = {
                    labels: tournaments,
                    datasets: [dataset1]
                };

                var canvas = document.getElementById("chart");
                var config = {
                    type: "line",
                    data: chartData,
                    options: {
                        responsive: false,  // Set this to false so Chart.js respects the size we set in the CSS
                        plugins: {
                            datalabels: {
                                display: true,
                                align: 'top', // Position above the data point
                                font: {
                                    weight: 'bold',
                                    size: 16 // Make font size slightly smaller for better fitting
                                },
                                color: 'white', // Text color
                                backgroundColor: 'rgba(0, 0, 0, 0.7)', // Dark background color for labels
                                borderRadius: 5, // Rounded corners for label background
                                padding: 6, // Padding inside label background
                                borderWidth: 2, // Border width for label background
                                borderColor: 'rgba(255, 255, 255, 0.8)', // Label background border color
                                formatter: (value) => value // Display the value directly on data point
                            }
                        },
                        scales: {
                            y: {
                                min: 1,
                                max: 180,
                                reverse: true,
                                ticks: {
                                    color: 'white',
                                    stepSize: 20
                                },
                                title: {
                                    display: true,
                                    text: 'Rank',
                                    color: 'white'
                                }
                            },
                            x: {
                                title: {
                                    display: true,
                                    text: 'Tournament',
                                    color: 'white'
                                },
                                ticks: {
                                    color: 'white' // <- x-axis tick color
                                },
                            }
                        }
                    }
                };

                if (gameChart) {
                    gameChart.config.data = chartData;
                    gameChart.update();
                } else {
                    gameChart = new Chart(canvas, config);
                }
            }
            renderChart();
            $(document).ready(function () {
                const baseColor = $('.adv-header').data('color') || '#f8e0e6';
                $('.adv-header').css('background', `linear-gradient(to right, #fdf5e6, ${baseColor})`);
            });


            const rawPositionWeeks = $('#positionWeeks').attr('data-values');
            const rawPositionRanks = $('#positionRanks').attr('data-values');

            const parsedPositionWeeks = JSON.parse(rawPositionWeeks);
            const parsedPositionRanks = JSON.parse(rawPositionRanks);

            const positionCtx = document.getElementById('positionChart').getContext('2d');

            new Chart(positionCtx, {
                type: 'line',
                data: {
                    labels: parsedPositionWeeks,
                    datasets: [{
                        label: 'Position Rank',
                        data: parsedPositionRanks,
                        borderColor: color,
                        fill: false,
                        tension: 0.1
                    }]
                },
                options: {
                    responsive: false,
                    plugins: {
                        datalabels: {
                            display: true,
                            align: 'top',
                            color: 'white',
                            backgroundColor: 'rgba(0, 0, 0, 0.7)',
                            borderRadius: 5,
                            padding: 6,
                            formatter: (value) => value
                        }
                    },
                    scales: {
                        y: {
                            min: 1,
                            reverse: true,
                            ticks: {
                                color: 'white',
                                stepSize: 5
                            },
                            title: {
                                display: true,
                                text: 'Position Rank',
                                color: 'white'
                            }
                        },
                        x: {
                            ticks: {
                                color: 'white'
                            },
                            title: {
                                display: true,
                                text: 'Week',
                                color: 'white'
                            }
                        }
                    }
                }
            });
        </script>
    </body>

</html>
