<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Duals -Battle Royale</title>
        <link rel="stylesheet" href="../static/main_page.css">
        <link href="https://fonts.cdnfonts.com/css/ninja-naruto" rel="stylesheet">
        <style>
            @import url('https://fonts.cdnfonts.com/css/ninja-naruto');
        </style>

        <link type="image/x-icon" rel="icon" href="../static/images/favicon.ico">
    </head>


    <body id="dual">
        {% include 'nav.html' %}
        <div class="schedule-container">
            <div class="schedule-header">
                <h1>ACCL Combat Duals</h1>
                <button id="toggleFormBtn">Add Dual</button>
            </div>

            <form method="post" action="/duals" id="dualForm" class="hidden-form alchemist-form">
                {{ form.csrf_token }}

                <div class="team-section">
                    <div class="team-col">
                        <div class="form-row">
                            {{ form.away.label }} {{ form.away }}
                        </div>
                        <div id='form-row1' class="form-row">
                            {{ form.ascore.label }} {{ form.ascore }}
                        </div>
                    </div>
                    <div class="team-col">
                        <div class="form-row">
                            {{ form.home.label }} {{ form.home }}
                        </div>
                        <div id='form-row2' class="form-row">
                            {{ form.hscore.label }} {{ form.hscore }}
                        </div>
                    </div>
                </div>

                <div class="inline-fields">
                    <div class="form-row">
                        {{ form.week.label }} {{ form.week }}
                    </div>
                    <div class="form-row">
                        {{ form.winner.label }} {{ form.winner }}
                    </div>
                    <div class="form-row">
                        {{ form.submit }}
                    </div>
                </div>
            </form>

            {% for dual in duals %}
            <div class="match">
                <div></div>
                <div class="match-cell team-away">{{ dual.away }}</div>
                <div class="match-cell team-away">{{ dual.ascore }}</div>
                {% if dual.winnerId == dual.away %}
                <div class="kunaiwin">W</div>
                {% else %}
                <div></div>
                {% endif %}
                <div class="match-cell vs"><a href="/duals/{{ dual.id }}">vs</a></div>
                {% if dual.winnerId == dual.home %}
                <div class="kunaiwin">W</div>
                {% else %}
                <div></div>
                {% endif %}
                <div class="match-cell team-home">{{ dual.hscore }} </div>
                <div class="match-cell team-home">{{ dual.home }}</div>
                <div class="match-cell week">| {{ dual.week }}</div>
            </div>
            {% endfor %}
        </div>

        <script>
            document.getElementById('toggleFormBtn').addEventListener('click', function () {
                const form = document.getElementById('dualForm');
                form.classList.toggle('hidden-form');
            });
        </script>
    </body>



</html>
