<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Record</title>
</head>
<body>
    <h1>EDIT OPPONENT</h1>

    <form method="post" action="/record/edit/{{opponent.id}}">
        {{ form.csrf_token }}

        <div class="labdiv">
            <div class="reshold">
                <div class="labletabe">Name</div>
                {{ form.name }}
            </div>
            <div class="reshold">
                <div class="labletabe">Victory</div>
                {{ form.victory }}
            </div>
            <div class="reshold">
                <div class="labletabe">Tournament Number</div>
                <span class="spanforn">{{ form.tournamnet }}</span>
            </div>
            <div class="reshold">
                <div class="labletabe">Round</div>
                <span class="spanforn">{{ form.round }}</span>
            </div>

        </div>

        <div class="opponentbtn">
            {{ form.submit }}
        </div>
        </div>
    </form>

</body>
</html>
