<!DOCTYPE html>
<html lang="en">


    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Leaderboard -Battle Royale</title>
        <link rel="stylesheet" href="../static/main_page.css">
        <link href="https://fonts.cdnfonts.com/css/ninja-naruto" rel="stylesheet">
        <style>
            @import url('https://fonts.cdnfonts.com/css/ninja-naruto');
        </style>
        <link type="image/x-icon" rel="icon" href="../static/images/favicon.ico">
    </head>

    <body id="leader">
        {%include 'nav.html'%}
        <form style="margin-top: 125px;" method="GET" action="/leaderboards" class="filter-form">
            <select name="season" onchange="this.form.submit()">
                <option value="all" {% if selected_season=='all' %}selected{% endif %}>All Time</option>
                <option value="1" {% if selected_season=='1' %}selected{% endif %}>Season 1</option>
                <option value="2" {% if selected_season=='2' %}selected{% endif %}>Season 2</option>
            </select>
        </form>
        <a href="/leadergallery">ELO ♟️</a>
        <ol type="1" class="leadercont">
            {% for row in players %}

            {% if selected_season == 'all' %}
            {% set player = row %}
            {% set stats = row %}
            {% else %}
            {% set player = row[0] %}
            {% set stats = row[1] %}
            {% endif %}

            <div class="leadercard">
                <li class="place"></li>

                <div class="namecard">
                    <img id="obito" src="{{ player.img }}">
                </div>

                <a href="player/{{ player.id }}" class="win">
                    Victories:
                    <span class="number">{{ stats.wins }}</span>
                </a>

                <p class="loss">
                    Defeats:
                    <span class="number">{{ stats.loss }}</span>
                </p>

                <p class="number">{{ stats.points }} pts</p>

                <p class="number">{{ stats.tour_points }} pts</p>

                <img id="leaderlogo" src="{{ player.logo }}">
            </div>
            {% endfor %}
        </ol>
    </body>

</html>
