<!DOCTYPE html>
<html lang="en">


    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Duals -Battle Royale</title>
        <link rel="stylesheet" href="../static/main_page.css">
        <link href="https://fonts.cdnfonts.com/css/ninja-naruto" rel="stylesheet">
        <style>
            @import url('https://fonts.cdnfonts.com/css/ninja-naruto');

            #leader {
                color: white;
            }
        </style>
        <link type="image/x-icon" rel="icon" href="../static/images/favicon.ico">
    </head>

    <body id="oneDual">
        {%include 'nav.html'%}
        <h2 class="dual-title">{{ away.name }} @ {{ home.name }} DUAL</h2>

        <div class="dual-header-v2">
            <div class="team-block">
                <img class="team-logo" src="{{ away.logo }}">
                <div class="team-name">{{ dual.away }}</div>
                <div class="team-score2">{{ away_score }}</div>
            </div>

            <div class="vs-center">
                <div class="vs-text">VS</div>
            </div>

            <div class="team-block">
                <img class="team-logo" src="{{ home.logo }}">
                <div class="team-name">{{ dual.home }}</div>
                <div class="team-score2">{{ home_score }}</div>
            </div>
        </div>


        <div>
            <div class="dual-results">
                {% for rec in players %}
                <div class="match-row">
                    <div class="fighter-side">
                        <img class="logo" src="{{ rec.winner.logo }}">
                        <img class="fighter-img" src="{{ rec.winner.img }}">
                        <div class="fighter-name">{{ rec.winner.name }}</div>
                    </div>

                    <div class="versus-text">DEF</div>

                    <div class="fighter-side">
                        <img class="logo" src="{{ rec.loser.logo }}">
                        <img class="fighter-img" src="{{ rec.loser.img }}">
                        <div class="fighter-name">{{ rec.loser.name }}</div>
                    </div>

                    <div class="score">{{ rec.score }}</div>
                    <div class="method">{{ rec.method }}</div>

                    <div class="team-points">
                        <div class="team-score">
                            <img class="logo small" src="{{ away.logo }}">
                            <p>{{ rec.apts }}</p>
                        </div>
                        <div class="team-score">
                            <img class="logo small" src="{{ home.logo }}">
                            <p>{{ rec.hpts }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </body>

</html>
