<!DOCTYPE html>
<html lang="en">


    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Duals -Battle Royale</title>
        <link rel="stylesheet" href="../static/main_page.css">
        <link href="https://fonts.cdnfonts.com/css/ninja-naruto" rel="stylesheet">
        <style>
            @import url('https://fonts.cdnfonts.com/css/ninja-naruto');

            #leader {
                color: white;
            }
        </style>
        <link type="image/x-icon" rel="icon" href="../static/images/favicon.ico">
    </head>

    <body id="oneDual">
        {%include 'nav.html'%}
        <h2 class="dual-title">{{ away.name }} @ {{ home.name }} DUAL</h2>
        <a class="edrecord" href="/finalize/{{dual.id}}">Finalize</a>

        <div class="dual-header-v2">
            <a href="../teams/{{away.id}}">
                <div class="team-block">
                    <img class="team-logo" src="{{ away.logo }}">
                    <div class="team-name">({{away.rank}}) {{ dual.away }}</div>
                    <div>({{away.wins}} - {{away.loss}})</div>
                    <div class="team-score2">{{ away_score }}</div>
                </div>
            </a>

            <div class="vs-center">
                <div class="vs-text">VS</div>
            </div>

            <a href="../teams/{{home.id}}">
                <div class="team-block">
                    <img class="team-logo" src="{{ home.logo }}">
                    <div class="team-name">({{home.rank}}) {{ dual.home }}</div>
                    <div>({{home.wins}} - {{home.loss}})</div>
                    <div class="team-score2">{{ home_score }}</div>
                </div>
            </a>
        </div>


        <div>
            <div class="dual-results">
                {% for rec in players %}
                <div class="match-row">
                    {# Winner side #}
                    <div class="fighter-side
                        {% if (loop.index is odd and rec.winner.logo == away.logo)
                              or (loop.index is even and rec.winner.logo == home.logo) %}
                            dark-border
                        {% endif %}
                    ">
                        <img class="logo" src="{{ rec.winner.logo }}">
                        <img class="fighter-img" src="{{ rec.winner.img }}">
                        <div class="fighter-name">
                            <a href="../player/{{rec.winner.id}}">{{ rec.winner.name }}</a>
                        </div>
                    </div>

                    <div class="versus-text">DEF</div>

                    {# Loser side #}
                    <div class="fighter-side
                        {% if (loop.index is odd and rec.loser.logo == away.logo)
                              or (loop.index is even and rec.loser.logo == home.logo) %}
                            dark-border
                        {% endif %}
                    ">
                        <div></div>
                        <img class="fighter-img" src="{{ rec.loser.img }}">
                        <div class="fighter-name">
                            <a href="../player/{{rec.loser.id}}">{{ rec.loser.name }}</a>
                        </div>
                    </div>

                    <div class="score">{{ rec.score }}</div>
                    <div class="method">{{ rec.method }}</div>

                    <div class="team-points">
                        <div class="team-score">
                            <img class="logo small" src="{{ away.logo }}">
                            <p class="{% if loop.index is odd %}first-sent{% endif %}">
                                {{ rec.apts }}
                            </p>
                        </div>
                        <div class="team-score">
                            <img class="logo small" src="{{ home.logo }}">
                            <p class="{% if loop.index is even %}first-sent{% endif %}">
                                {{ rec.hpts }}
                            </p>
                        </div>
                    </div>

                </div>
                {% endfor %}
            </div>

        </div>
    </body>

</html>
