<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Record</title>
        <link href="../static/main_page.css" rel="stylesheet">
        <link type="image/x-icon" rel="icon" href="../static/images/favicon.ico">
    </head>

    <body id="cardbg">
        {% include 'nav.html' %}
        <script>
            function showMed() {
                var x = document.getElementById("square");
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }
        </script>

        <div class="eformcont">

            {% if player.gold >= 1%}
            <div class="showmedal">
                <div class="editgoldcard">
                    <img class="eimg" src="{{player.img}}">
                    <div class="editwl">
                        <p class="win">Record: <span class="number">{{player.wins}} - {{player.loss}}</span></p>

                        <p class="points">Points: <span class="number">{{player.tour_points}}</span></p>
                        <p class="points" style="color: gray;">Rank: <span class="number">{{ player.rank }}</span>
                        </p>
                        <p class="points" style="color: rgb(126, 3, 3);">Bonus: <span class="number">
                                {{ ("%.2f" % ((player.bonus / player.wins) if player.wins > 0 else 0)).lstrip('0') }}%
                            </span>
                        </p>
                    </div>
                    <div class="editmedal">
                        <div class="medalcont">
                            {% if player.gold >= 1 %}
                            <p class="number">{{player.gold}} <span class="medal">🥇</span></p>
                            {% endif %}
                            {% if player.silver >= 1 %}
                            <p class="number">{{player.silver}} <span class="medal">🥈</span></p>
                            {% endif %}
                            {% if player.bronze >= 1 %}
                            <p class="number">{{player.bronze}} <span class="medal">🥉</span></p>
                            {% endif %}
                            {% if player.medal >= 1 %}
                            <p class="number">{{player.medal}} <span class="medal">🎖</span></p>
                            {% endif %}
                            {% if player.badge >= 1 %}
                            <div class="badge">
                                <p class="number">{{player.badge}} </p>
                                <img src="../static/images/reward.png" class="ribbon">
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div id="square">
                    <div class="squaremedal">
                        {% for res in result%}
                        <div class="squarelist">
                            {% if res.first == player_img %}
                            <p class="oppnum"><span class="sqmoj">🏆</span> Champion @ Battle Royale {{res.id}} </p>
                            {% endif %}

                            {% if res.second == player_img %}
                            <p class="oppnum"><span class="sqmoj">🥈</span> Runner-Up @ Battle Royale {{res.id}} </p>
                            {% endif %}

                            {% if res.third == player_img %}
                            <p class="oppnum"><span class="sqmoj">🥉</span> 3rd Place @ Battle Royale {{res.id}} </p>
                            {% endif %}

                            {% if res.fourth == player_img %}
                            <p class="oppnum"><span class="sqmoj">🎖</span> 4th Place @ Battle Royale {{res.id}} </p>
                            {% endif %}

                            {% if res.fifth == player_img %}
                            <p class="oppnum"><span class="sqmoj">🎖</span> 5th Place @ Battle Royale {{res.id}} </p>
                            {% endif %}

                            {% if res.sixth == player_img %}
                            <p class="oppnum"><span class="sqmoj">🎖</span> 6th Place @ Battle Royale {{res.id}} </p>
                            {% endif %}

                            {% if res.seventh == player_img %}
                            <p class="oppnum"><span class="sqmoj">🎖</span> 7th Place @ Battle
                                Royale {{res.id}} </p>
                            {% endif %}

                            {% if res.eigth == player_img %}
                            <p class="oppnum"><span class="sqmoj">🎖</span> 8th Place @ Battle
                                Royale {{res.id}} </p>
                            {% endif %}

                            {% if res.ninth == player_img %}
                            <p class="oppnum"><img src="../static/images/reward.png" class="ribbon2"> 9th Place @ Battle
                                Royale {{res.id}} </p>
                            {% endif %}

                            {% if res.tenth == player_img %}
                            <p class="oppnum"><img src="../static/images/reward.png" class="ribbon2"> 10th Place @
                                Battle
                                Royale {{res.id}} </p>
                            {% endif %}

                            {% if res.eleventh == player_img %}
                            <p class="oppnum"><img src="../static/images/reward.png" class="ribbon2"> 11th Place @
                                Battle
                                Royale {{res.id}} </p>
                            {% endif %}

                            {% if res.twelfth == player_img %}
                            <p class="oppnum"><img src="../static/images/reward.png" class="ribbon2"> 12th Place @
                                Battle
                                Royale {{res.id}} </p>
                            {% endif %}

                            {% if res.thirtenth == player_img %}
                            <p class="oppnum"><img src="../static/images/reward.png" class="ribbon2"> 13th Place @
                                Battle
                                Royale {{res.id}} </p>
                            {% endif %}

                            {% if res.fourtenth == player_img %}
                            <p class="oppnum"><img src="../static/images/reward.png" class="ribbon2"> 14th Place @
                                Battle
                                Royale {{res.id}} </p>
                            {% endif %}

                            {% if res.fifthtenth == player_img %}
                            <p class="oppnum"><img src="../static/images/reward.png" class="ribbon2"> 15th Place @
                                Battle
                                Royale {{res.id}} </p>
                            {% endif %}

                            {% if res.sixtenth == player_img %}
                            <p class="oppnum"><img src="../static/images/reward.png" class="ribbon2"> 16th Place @
                                Battle
                                Royale {{res.id}} </p>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
            {% else %}
            <div class="showmedal">
                <div class="editcard">
                    <img class="eimg" src="{{player.img}}">
                    <div class="editwl">
                        <p class="win">Record: <span class="number">{{player.wins}} - {{player.loss}}</span></p>
                        <p class="points">Points: <span class="number">{{player.tour_points}}</span></p>
                        <p class="points" style="color: gray;">Rank: <span class="number">{{ player.rank }}</span>
                        </p>
                        <p class="points" style="color: rgb(126, 3, 3);">Bonus: <span class="number">
                                {{ ("%.2f" % ((player.bonus / player.wins) if player.wins > 0 else 0)).lstrip('0') }}%
                            </span>
                        </p>
                    </div>
                    <div class="editmedal">
                        <div class="medalcont">
                            {% if player.gold >= 1 %}
                            <p class="number">{{player.gold}} <span class="medal">🥇</span></p>
                            {% endif %}
                            {% if player.silver >= 1 %}
                            <p class="number">{{player.silver}} <span class="medal">🥈</span></p>
                            {% endif %}
                            {% if player.bronze >= 1 %}
                            <p class="number">{{player.bronze}} <span class="medal">🥉</span></p>
                            {% endif %}
                            {% if player.medal >= 1 %}
                            <p class="number">{{player.medal}} <span class="medal">🎖</span></p>
                            {% endif %}
                            {% if player.badge >= 1 %}
                            <div class="badge">
                                <p class="number">{{player.badge}} </p>
                                <img src="../static/images/reward.png" class="ribbon">
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div id="square">
                    <div class="squaremedal">
                        {% for res in result%}
                        <div class="squarelist">
                            {% if res.first == player_img %}
                            <p class="oppnum"><span class="sqmoj">🏆</span> Champion @ Battle Royale {{res.id}} </p>
                            {% endif %}

                            {% if res.second == player_img %}
                            <p class="oppnum"><span class="sqmoj">🥈</span> Runner-Up @ Battle Royale {{res.id}} </p>
                            {% endif %}

                            {% if res.third == player_img %}
                            <p class="oppnum"><span class="sqmoj">🥉</span> 3rd Place @ Battle Royale {{res.id}} </p>
                            {% endif %}

                            {% if res.fourth == player_img %}
                            <p class="oppnum"><span class="sqmoj">🎖</span> 4th Place @ Battle Royale {{res.id}} </p>
                            {% endif %}

                            {% if res.fifth == player_img %}
                            <p class="oppnum"><span class="sqmoj">🎖</span> 5th Place @ Battle Royale {{res.id}} </p>
                            {% endif %}

                            {% if res.sixth == player_img %}
                            <p class="oppnum"><span class="sqmoj">🎖</span> 6th Place @ Battle Royale {{res.id}} </p>
                            {% endif %}

                            {% if res.seventh == player_img %}
                            <p class="oppnum"><span class="sqmoj">🎖</span> 7th Place @ Battle
                                Royale {{res.id}} </p>
                            {% endif %}

                            {% if res.eigth == player_img %}
                            <p class="oppnum"><span class="sqmoj">🎖</span> 8th Place @ Battle
                                Royale {{res.id}} </p>
                            {% endif %}

                            {% if res.ninth == player_img %}
                            <p class="oppnum"><img src="../static/images/reward.png" class="ribbon2"> 9th Place @ Battle
                                Royale {{res.id}} </p>
                            {% endif %}

                            {% if res.tenth == player_img %}
                            <p class="oppnum"><img src="../static/images/reward.png" class="ribbon2"> 10th Place @
                                Battle
                                Royale {{res.id}} </p>
                            {% endif %}

                            {% if res.eleventh == player_img %}
                            <p class="oppnum"><img src="../static/images/reward.png" class="ribbon2"> 11th Place @
                                Battle
                                Royale {{res.id}} </p>
                            {% endif %}

                            {% if res.twelfth == player_img %}
                            <p class="oppnum"><img src="../static/images/reward.png" class="ribbon2"> 12th Place @
                                Battle
                                Royale {{res.id}} </p>
                            {% endif %}

                            {% if res.thirtenth == player_img %}
                            <p class="oppnum"><img src="../static/images/reward.png" class="ribbon2"> 13th Place @
                                Battle
                                Royale {{res.id}} </p>
                            {% endif %}

                            {% if res.fourtenth == player_img %}
                            <p class="oppnum"><img src="../static/images/reward.png" class="ribbon2"> 14th Place @
                                Battle
                                Royale {{res.id}} </p>
                            {% endif %}

                            {% if res.fifthtenth == player_img %}
                            <p class="oppnum"><img src="../static/images/reward.png" class="ribbon2"> 15th Place @
                                Battle
                                Royale {{res.id}} </p>
                            {% endif %}

                            {% if res.sixtenth == player_img %}
                            <p class="oppnum"><img src="../static/images/reward.png" class="ribbon2"> 16th Place @
                                Battle
                                Royale {{res.id}} </p>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
            {% endif %}
            <div class="pcbtndiv">
                <form class="oppbtn" action="/new_opponent/{{player.id}}">
                    <input type="submit" value="Add Opponent" />
                </form>
                <a href="/playerStat/{{player.id}}"
                    style="display: inline-flex; justify-content: center; align-items: center;text-align: center; font-size: 16px;"
                    class="oppbtn">Statistics</a>
                <button onclick="showMed()" class="oppbtn">View Medals</button>
            </div>

            <div id="oppcont">

                <div class="oppcard">
                    {% for person in all_opponents %}
                    <div class="oppperson">
                        <img id="oppimg" src="{{person.img}}">
                        <a href='{{person.id}}' class="oppnum">{{person.name}} <span
                                style="color: rgb(176, 176, 176); font-size: 12px;">({{person.rank}})</span></a>
                        <img id="opplogo" src="{{person.logo}}">
                    </div>
                    {% endfor %}
                </div>
                <div class="oppcard2">
                    {% for opp in opponents %}
                    <div class="oppperson2">
                        <!-- <div class="tourcontcard"> -->
                        <div class="tournum">{{opp.score}}</div>
                        <div id="tourround" class="tournum">{{opp.round}}</div>
                        <!-- </div> -->
                        <a href="/tournament/{{opp.tour_name}}" class="tournum">{{opp.tour_name}}</a>
                        <div class="edrcont">
                            <a class="edrecord" href="/record/edit/{{opp.id}}">✎</a>
                            <a class="edrecord" href="/delete/{{opp.id}}">🗑</a>
                        </div>
                        {% if opp.victory == True%}
                        <div class="oppnumw">W</div>
                        {% endif %}
                        {% if opp.victory == False%}
                        <div class="oppnuml">L</div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </body>

</html>
