<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{player.name}} | Record</title>
        <link href="../static/main_page.css" rel="stylesheet">
        <link type="image/x-icon" rel="icon" href="../static/images/favicon.ico">
    </head>

    <body id="cardbg">
        {% include 'nav.html' %}
        <script>
            function showMed() {
                var x = document.getElementById("square");
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }
        </script>

        <div class="eformcont">


            <div class="showmedal">

                <div class="{% if player.gold - 6 > 0 %}editgoldcard{% else %}editcard{% endif %}">

                    <img class="eimg" src="{{ player.img }}">

                    <div class="editwl">

                        <p class="win">
                            Record:
                            <span class="number">{{ player.wins }} - {{ player.loss }}</span>
                        </p>

                        <p class="points">
                            Points:
                            <span class="number">{{ player.tour_points }}</span>
                        </p>

                        <p class="points" style="color: gray;">
                            Rank:
                            <span class="number">{{ player.rank }}</span>
                        </p>

                        <p class="points" style="color: rgb(126,3,3);">
                            Bonus:
                            <span class="number">
                                {{ ("%.2f" % ((player.bonus / player.wins) if player.wins > 0 else 0)).lstrip('0') }}%
                            </span>
                        </p>

                    </div>

                    <div class="editmedal">

                        <div class="medalcont">

                            {% for award in awards %}

                            {% if award.count > 0 %}

                            {% if award.image %}
                            <div class="badge">
                                <p class="number">{{ award.count }}</p>
                                <img src="{{ award.image }}" class="ribbon">
                            </div>
                            {% else %}
                            <p class="number">
                                {{ award.count }}
                                <span class="medal">{{ award.icon }}</span>
                            </p>
                            {% endif %}

                            {% endif %}

                            {% endfor %}

                        </div>

                    </div>

                </div>

                <div id="square">

                    <div class="squaremedal">

                        {% if player_placements %}

                        {% for placement in player_placements %}

                        <div class="squarelist">

                            {% if placement.place == 1 %}
                            <p class="oppnum">
                                <span class="sqmoj">🏆</span>
                                Champion @ Battle Royale {{ placement.result_id - 6 }}
                            </p>

                            {% elif placement.place == 2 %}
                            <p class="oppnum">
                                <span class="sqmoj">🥈</span>
                                Runner-Up @ Battle Royale {{ placement.result_id - 6 }}
                            </p>

                            {% elif placement.place == 3 %}
                            <p class="oppnum">
                                <span class="sqmoj">🥉</span>
                                3rd Place @ Battle Royale {{ placement.result_id - 6 }}
                            </p>

                            {% elif placement.place == 4 %}
                            <p class="oppnum">
                                <span class="sqmoj">🪵</span>
                                4th Place @ Battle Royale {{ placement.result_id - 6 }}
                            </p>

                            {% elif placement.place <= 8 %} <p class="oppnum">
                                <span class="sqmoj">🎖️</span>
                                {{ placement.place }}th Place @ Battle Royale {{ placement.result_id - 6 }}
                                </p>

                                {% elif placement.place <= 12 %} <p class="oppnum">
                                    <img src="../static/images/reward.png" class="ribbon2">
                                    {{ placement.place }}th Place @ Battle Royale {{ placement.result_id - 6 }}
                                    </p>

                                    {% elif placement.place <= 16 %} <p class="oppnum">
                                        <span class="sqmoj">🎗️</span>
                                        {{ placement.place }}th Place @ Battle Royale {{ placement.result_id - 6 }}
                                        </p>

                                        {% elif placement.place <= 24 %} <p class="oppnum">
                                            <span class="sqmoj">🩸</span>
                                            {{ placement.place }}th Place @ Battle Royale {{ placement.result_id - 6 }}
                                            </p>

                                            {% endif %}

                        </div>

                        {% endfor %}

                        {% else %}

                        <p class="oppnum">No tournament placements yet.</p>

                        {% endif %}

                    </div>

                </div>

            </div>
            <div class="pcbtndiv">
                <form class="oppbtn" action="/new_opponent/{{player.id}}">
                    <input type="submit" value="Add Opponent" />
                </form>
                <a href="/playerStat/{{player.id}}"
                    style="display: inline-flex; justify-content: center; align-items: center;text-align: center; font-size: 16px;"
                    class="oppbtn">Statistics</a>
                <button onclick="showMed()" class="oppbtn">View Medals</button>
            </div>
            <form method="GET" action="/player/{{ player.id }}" class="pcfilterform">

                <select name="season" onchange="this.form.submit()">
                    <option value="all" {% if selected_season=='all' %}selected{% endif %}>All Time</option>
                    <option value="1" {% if selected_season=='1' %}selected{% endif %}>Season 1</option>
                    <option value="2" {% if selected_season=='2' %}selected{% endif %}>Season 2</option>
                </select>

                <select name="fight_type" onchange="this.form.submit()">
                    <option value="all" {% if selected_type=='all' %}selected{% endif %}>All Fights</option>
                    <option value="tournament" {% if selected_type=='tournament' %}selected{% endif %}>Tournament Fights
                    </option>
                    <option value="dual" {% if selected_type=='dual' %}selected{% endif %}>Dual Fights</option>
                </select>

            </form>

            <div id="oppcont">

                <div class="oppcard">
                    {% for person in all_opponents %}
                    <div class="oppperson">
                        <img id="oppimg" src="{{person.img}}">
                        <a href='{{person.id}}' class="oppnum">{{person.name}} <span
                                style="color: rgb(176, 176, 176); font-size: 12px;">({{person.rank}})</span></a>
                        <img id="opplogo" src="{{person.logo}}">
                    </div>
                    {% endfor %}
                </div>
                <div class="oppcard2">
                    {% for opp in opponents %}
                    <div class="oppperson2">
                        <!-- <div class="tourcontcard"> -->
                        <div class="tournum">{{opp.score}}</div>
                        <div id="tourround" class="tournum">{{opp.round}}</div>
                        <!-- </div> -->
                        <a href="/tournament/{{opp.tour_name}}" class="tournum">{{opp.tour_name}}</a>
                        <div class="edrcont">
                            <a class="edrecord" href="/record/edit/{{opp.id}}">✎</a>
                            <a class="edrecord" href="/delete/{{opp.id}}">🗑</a>
                        </div>
                        {% if opp.victory == True%}
                        <div class="oppnumw">W</div>
                        {% endif %}
                        {% if opp.victory == False%}
                        <div class="oppnuml">L</div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </body>

</html>
