<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Duals -Battle Royale</title>
        <link rel="stylesheet" href="../static/main_page.css">
        <link href="https://fonts.cdnfonts.com/css/ninja-naruto" rel="stylesheet">
        <style>
            @import url('https://fonts.cdnfonts.com/css/ninja-naruto');
        </style>
        <link type="image/x-icon" rel="icon" href="../static/images/favicon.ico">
    </head>

    <body id="newbattle">
        {%include 'nav.html'%}

        <div id="teamcont">
            <h2>TEAM STANDINGS</h2>
            <form method="GET" action="/teams" class="filter-form">
                <select name="season" onchange="this.form.submit()">
                    <option value="all" {% if selected_season=='all' %}selected{% endif %}>
                        All Time
                    </option>

                    {% for season in seasons %}
                    <option value="{{ season.id }}" {% if selected_season==season.id|string %}selected{% endif %}>
                        {{ season.name }}
                    </option>
                    {% endfor %}
                </select>
            </form>
            {% for row in teams %}

            {% if selected_season == 'all' %}
            {% set team = row %}
            {% set stats = row %}
            {% else %}
            {% set team = row[0] %}
            {% set stats = row[1] %}
            {% endif %}

            <div class="oneteam">
                <img id="teamlogo" src="{{ team.logo }}">

                <div class="teaminfo">
                    <a id="Tname" href="teams/{{ team.id }}">
                        {{ loop.index }}. {{ team.name }}
                    </a>
                </div>

                <div class="teaminfo">{{ stats.wins }} - {{ stats.loss }}</div>
                <div class="teaminfo">{{ stats.points }} Dual Pts</div>
                <div class="teaminfo">{{ stats.tour_points }} Tour pts</div>
            </div>

            {% endfor %}
            <a href="/finalize/week">Finalize Week</a>
        </div>

    </body>

</html>
